* {
    margin:0;
    padding:0;
    -webkit-box-sizing:border-box ;
            box-sizing:border-box ;
    font-family:"gilroy";
}

html ,body {
    width:100%;
    height:100%;
}

#main {
    width:100%;
    height:100vh;
    /* background-color: black; */
}

#back {
    width:100%;
    height:100vh;
    background-color: black;
}

#back img {
    width: 100%;
    height: 100vh;
    -o-object-fit: cover;
       object-fit: cover;
}

#top {
    pointer-events: none;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    /* background-color: rgb(0, 0, 0); */
}

#workingarea {
    position: relative;
    margin:0 auto;
    width:80%;
    height:100vh;
    max-width:1920px;
    /* background-color: rgb(0, 0, 0); */
    /* border:1px solid red; */
}

#nav {
    width:100%;
    padding:24px 0;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

#nav img {
    height:40px;
}

#nleft,#nright {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap:40px;
}

#nleft a {
    pointer-events: all;
    color:white;
    font-family: "gilroy";
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0.1px;
}

#nright a {
    pointer-events: all;
    color:white;
    font-family: "gilroy";
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0.1px;
}

#hero {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    width: 100%;
    /* height: 100px; */
    /* background-color: bisque; */
    position: absolute;
    top: 50%;
    left:0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-transform: translate(0% , -50%);
        -ms-transform: translate(0% , -50%);
            transform: translate(0% , -50%);
}

#heroleft {
    min-width:50%;
    /* height: 100px; */
    /* background-color: aqua; */
}

#heroleft .elem {
    height:9vw;
    /* background-color: rgb(29, 29, 65); */
    overflow:hidden;
    position: relative;
}

#heroleft button {
    pointer-events: all;
    padding:5px 26px;
    font-size: 4vw;
    font-family: "kajiro";
    margin-top: 2vw;
}

#heroleft .elem h1 {
    line-height:1.1;
    font-family: "kajiro";
    color:white;
    font-weight: 100;
    font-size: 11vw;
    position: absolute;
    top:100%;
    left:0;
}

#heroleft .elem h1:nth-child(1) {
    top:0;
}
#heroright {
    width:19%;
    color:white;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}

#heroright p {
    text-align: right;
    font-size: 14px;
    font-weight: 500;
    /* margin-bottom: 50px; */
}

#heroright #imagediv {
    width:100%;
    height: 170px;
    margin-top: 20px;
    margin-bottom: 30px;
    background-image: url(IMG_7568.JPG);
    background-size: cover;
    background-position: center;
}

#heroright p:nth-child(3) {
    margin-bottom: 50px;
}
